/*Feuille de style CSS*/

/*Permet de gérer l'affichage de toute la page*/
* {
	/*Background*/
	background-color: rgba(30, 20, 30, 1);

	/*Text*/
	font-family:  "Zen Kurenaido", "Arial", "Arial Black", "Comic Sans MS", "Courier New", "Georgia", "Impact", "Times New Roman", "Trebuchet MS", "Verdana";
}


/*Permet de gérer l'affichage des grands titres*/
h1 {
	/*Text*/
	font-size: 3em;
	font-style: bold;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 20px rgba(255, 90, 255, 1);

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) outset;
	border-radius: 20px / 20px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 2% 4% 0% 4%;
}

/*Permet de gérer l'affichage de l'image principale*/
.flottant {
	text-align: center;

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) inset;
	border-radius: 20px / 20px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 0% 0% 0.5% 0%;
}

.flottant:active {
	text-align: center;

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) outset;
	border-radius: 20px / 20px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 0% 0% 0.5% 0%;
}

/*Permet de gérer l'affichage du libellé*/
figcaption {
		/*Text*/
	font-size: 2em;
	font-style: bold;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% 0% 0.5% 0%;
}

/*Permet de gérer l'affichage des titres*/
h2 {

	clear: left;

	/*Text*/
	font-size: 2.25em;
	font-style: bold;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 20px rgba(255, 90, 255, 1);

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) outset;
	border-radius: 20px / 20px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 0% 4% 1.5% 4%;
}

h2:active {

		clear: left;

	/*Background*/
	background-color: rgba(255, 230, 255, 1);

		/*Text*/
	font-size: 2.25em;
	font-style: bold;
	text-align: center;
	color: rgba(15, 15, 15, 1);
	text-shadow: 0px 0px 20px rgba(255, 90, 255, 1);

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) inset;
	border-radius: 20px / 20px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.5);

	/*Margin*/
	margin: 0% 4% 1.5% 4%;
}

#comp {
	/*Text*/
	font-size: 1.5em;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% auto 1.5% auto;
	width: 50%;

	/*Animation*/
	display: inline-block;
  	animation: fadeInLeft;
  	animation-duration: 2s;
}

#xp b {
	/*Text*/
	font-size: 1.1em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);
}

#xp i {
	/*Text*/
	font-size: 0.85em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);
}

#xp:not(b):not(i) {
	/*Text*/
	font-size: 1.5em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% auto 1.5% auto;
	width: 35%;

	/*Animation*/
	display: inline-block;
  	animation: fadeInLeft;
  	animation-duration: 2s;
}

#cs b {
	/*Text*/
	font-size: 1.1em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);
}

#cs i {
	/*Text*/
	font-size: 0.85em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);
}

#cs:not(b):not(i) {
	/*Text*/
	font-size: 1.5em;
	text-align: left;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% auto 1.5% auto;
	width: 35%;

	/*Animation*/
	display: inline-block;
  	animation: fadeInLeft;
  	animation-duration: 2s;
}

#ph {
	/*Text*/
	font-size: 1.5em;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% auto 1.5% auto;
	width: 50%;

	/*Animation*/
	display: inline-block;
  	animation: fadeInLeft;
  	animation-duration: 2s;
}

#cont {
	/*Text*/
	font-size: 1.5em;
	text-align: center;
	color: rgba(255, 230, 255, 1);
	text-shadow: 0px 0px 10px rgba(255, 90, 255, 1);

	/*Margin*/
	margin: 0% auto 1.5% auto;
	width: 50%;

	/*Animation*/
	display: inline-block;
  	animation: fadeInUp;
  	animation-duration: 2s;
}

/*Permet de gérer l'affichage des logos*/
.flottant2 {
	text-align: center;

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) inset;
	border-radius: 50px / 50px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 1% 1% 0% 1%;
}

.flottant2:active {
	text-align: center;

	/*Border*/
	border: 4px rgba(255, 90, 255, 1) outset;
	border-radius: 50px / 50px;
	box-shadow: 0px 5px 10px rgba(255, 90, 255, 0.3);

	/*Margin*/
	margin: 1% 1% 0% 1%;
}
